<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imnu.mapper.SysAttestationMapper">
  <resultMap id="BaseResultMap" type="com.imnu.pojo.SysAttestation">
    <id column="a_id" jdbcType="INTEGER" property="aId" />
    <result column="Identity_z_url" jdbcType="VARCHAR" property="identityZUrl" />
    <result column="Identity_f_url" jdbcType="VARCHAR" property="identityFUrl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    a_id, Identity_z_url, Identity_f_url
  </sql>
  <select id="selectByExample" parameterType="com.imnu.pojo.SysAttestationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_attestation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_attestation
    where a_id = #{aId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_attestation
    where a_id = #{aId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.imnu.pojo.SysAttestationExample">
    delete from sys_attestation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.imnu.pojo.SysAttestation">
    insert into sys_attestation (a_id, Identity_z_url, Identity_f_url
      )
    values (#{aId,jdbcType=INTEGER}, #{identityZUrl,jdbcType=VARCHAR}, #{identityFUrl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.imnu.pojo.SysAttestation">
    insert into sys_attestation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aId != null">
        a_id,
      </if>
      <if test="identityZUrl != null">
        Identity_z_url,
      </if>
      <if test="identityFUrl != null">
        Identity_f_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aId != null">
        #{aId,jdbcType=INTEGER},
      </if>
      <if test="identityZUrl != null">
        #{identityZUrl,jdbcType=VARCHAR},
      </if>
      <if test="identityFUrl != null">
        #{identityFUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.imnu.pojo.SysAttestationExample" resultType="java.lang.Integer">
    select count(*) from sys_attestation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_attestation
    <set>
      <if test="record.aId != null">
        a_id = #{record.aId,jdbcType=INTEGER},
      </if>
      <if test="record.identityZUrl != null">
        Identity_z_url = #{record.identityZUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.identityFUrl != null">
        Identity_f_url = #{record.identityFUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_attestation
    set a_id = #{record.aId,jdbcType=INTEGER},
      Identity_z_url = #{record.identityZUrl,jdbcType=VARCHAR},
      Identity_f_url = #{record.identityFUrl,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.imnu.pojo.SysAttestation">
    update sys_attestation
    <set>
      <if test="identityZUrl != null">
        Identity_z_url = #{identityZUrl,jdbcType=VARCHAR},
      </if>
      <if test="identityFUrl != null">
        Identity_f_url = #{identityFUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where a_id = #{aId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.imnu.pojo.SysAttestation">
    update sys_attestation
    set Identity_z_url = #{identityZUrl,jdbcType=VARCHAR},
      Identity_f_url = #{identityFUrl,jdbcType=VARCHAR}
    where a_id = #{aId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.imnu.pojo.SysAttestation">
    <id column="a_id" jdbcType="INTEGER" property="aId" />
    <result column="Identity_z_url" jdbcType="VARCHAR" property="identityZUrl" />
    <result column="Identity_f_url" jdbcType="VARCHAR" property="identityFUrl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    a_id, Identity_z_url, Identity_f_url
  </sql>
  <select id="selectByExample" parameterType="com.imnu.pojo.SysAttestationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_attestation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_attestation
    where a_id = #{aId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_attestation
    where a_id = #{aId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.imnu.pojo.SysAttestationExample">
    delete from sys_attestation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.imnu.pojo.SysAttestation">
    insert into sys_attestation (a_id, Identity_z_url, Identity_f_url
      )
    values (#{aId,jdbcType=INTEGER}, #{identityZUrl,jdbcType=VARCHAR}, #{identityFUrl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.imnu.pojo.SysAttestation">
    insert into sys_attestation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aId != null">
        a_id,
      </if>
      <if test="identityZUrl != null">
        Identity_z_url,
      </if>
      <if test="identityFUrl != null">
        Identity_f_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aId != null">
        #{aId,jdbcType=INTEGER},
      </if>
      <if test="identityZUrl != null">
        #{identityZUrl,jdbcType=VARCHAR},
      </if>
      <if test="identityFUrl != null">
        #{identityFUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.imnu.pojo.SysAttestationExample" resultType="java.lang.Integer">
    select count(*) from sys_attestation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_attestation
    <set>
      <if test="record.aId != null">
        a_id = #{record.aId,jdbcType=INTEGER},
      </if>
      <if test="record.identityZUrl != null">
        Identity_z_url = #{record.identityZUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.identityFUrl != null">
        Identity_f_url = #{record.identityFUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_attestation
    set a_id = #{record.aId,jdbcType=INTEGER},
      Identity_z_url = #{record.identityZUrl,jdbcType=VARCHAR},
      Identity_f_url = #{record.identityFUrl,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.imnu.pojo.SysAttestation">
    update sys_attestation
    <set>
      <if test="identityZUrl != null">
        Identity_z_url = #{identityZUrl,jdbcType=VARCHAR},
      </if>
      <if test="identityFUrl != null">
        Identity_f_url = #{identityFUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where a_id = #{aId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.imnu.pojo.SysAttestation">
    update sys_attestation
    set Identity_z_url = #{identityZUrl,jdbcType=VARCHAR},
      Identity_f_url = #{identityFUrl,jdbcType=VARCHAR}
    where a_id = #{aId,jdbcType=INTEGER}
  </update>
</mapper>